.right-pane {
  height: calc(100% - 40px);
  margin: 20px 20px 20px 0;
}

.right-pane > .box {
  height: 100%;
  position: relative;
}

.right-pane > .box > .translucent {
  background-color: rgba(255, 255, 255, .4);
  backdrop-filter: blur(8px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.right-pane > .box > .placeholder {
  height: 100%;
  position: relative;
}

.right-pane > .box > .driver-side-temperature {
  font-size: 40px;
  left: 67%;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 24%;
}

.right-pane > .box > .outside-temperature {
  font-size: 40px;
  left: 8%;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 22%;
}

.right-pane > .box > .real-time-clock {
  color: #00AEEF;
  font-size: 4vh;
  font-weight: 100;
  left: 10%;
  line-height: 4.5vh;
  position: absolute;
  text-align: center;
  top: 59%;
  width: 80%;
}

.right-pane > .box > .destination-eta {
  color: #1B3952;
  font-size: 2vh;
  font-weight: 600;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 65%;
  width: 80%;
}

.right-pane > .box > .destination-full-address {
  color: #1B3952;
  font-size: 1.8vh;
  line-height: 100%;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 73%;
  width: 80%;
}
